h1{
    color:#fff !important
}
 

.image{
    width:150px;
    
}

 #next_events_title{
     padding: 20px;
     font-weight: 700
 }

.eventSlider{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    
    margin: 0 20px;
    background-size:cover; 
    height:280px;   
    color:#fff;
    margin: 0 20px

}

#event_title{
    font-weight: 400;
    font-size: 18px;
    width: 100%
}
.eventSlider h5{
    width: 60%;
    margin:0;
}
#event_by {
    width:80%;
    font-size: 14px
}

#event_venue{
    background: rgb(0, 76, 255,0.3);
    color: #fff;
    padding: 2px 10px;
    margin: 0
}
 
#event_venue #date{
    text-transform: uppercase;
}

#event_venue #place{
text-transform: capitalize;
}
 
.my_eventSlider_wrapper{
    padding:70px 0;
 
}

.eventSlider_text{
    display: flex;
    flex-direction: row;
    color: #fff !important;
    text-align: left;
}
 
  
 .my_eventSlider_wrapper.container > div> h1{
     color:rgba(52, 52, 52, 1) !important;
     font-weight: 700
 }

 .my_eventSlider_wrapper.container > div> h1> span{
     color:rgba(75, 129, 255, 1) !important
 }

 
 
  .eventSlider_slider_container >.slider > .slick-next:before, .eventSlider_slider_container >.slider > .slick-prev:before {
    display: none;
    
}
.eventSlider_slider_container > .slider >.slick-arrow {
    z-index: 9 !important;
    top: 50% !important;

}

.eventSlider_slider_container .slider .slick-prev{
    left:-35px
}
 


.the_slider_btn_arrow #Ellipse_1810 {
    stroke-dasharray: 400 ;
    stroke-dashoffset: 400 ;  
    animation: dash 6s linear  infinite;    
     
  }
 

@keyframes dash {
    0%{
     stroke-dashoffset: 400; 
      stroke-dasharray: 400;
    
 }
   
    
   100%{
     stroke-dashoffset: 0; 
     stroke-dasharray:400;
     
 }
   0%{
     stroke-dashoffset: 400; 
      stroke-dasharray:400;
       
 }
   
 } 
 